.cv-info-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(7, 1fr);
}

.edit-button {
  grid-column-start: 1;
  grid-column-end: 3;
  justify-self: center;
}
